<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Momentos</title>
    <link rel="stylesheet" href="../CSS/porque.css">
</head>
<body>

    <header>
        <h1>¿Por qué te amo?</h1>
    </header>

    <main class="seccion-recuerdos">

        <div class="contenedor-momento">
            <div class="media-box">
                <video src="../vid/video1.mp4" autoplay loop muted playsinline class="video">
                    Tu navegador no soporta el formato de video.
                </video>
            </div>
            <div class="bloque-texto">
                <h2 class="texto-momento">
                    Porque desde que te conoci sabia que no iba a poder
                    evitarlo, en ti vi algo que me hizo sentir cosas que
                    nunca senti antes. No sabia lo que era el amor a primera vista
                    hasta que te vi por primera vez, y desde ese momento supe que
                    queria estar contigo.
                </h2>
            </div>
        </div>

        <div class="contenedor-momento">
            <div class="media-box">
                <video src="../vid/video2.mp4" autoplay loop muted playsinline class="video">
                    Tu navegador no soporta el formato de video.
                </video>
            </div>
            <div class="bloque-texto">
                <h2 class="texto-momento">
                    Porque me haces feliz
                </h2>
            </div>
        </div>

          <div class="contenedor-momento">
            <div class="media-box">
                <video src="../vid/video3.mp4" autoplay loop muted playsinline class="video">
                    Tu navegador no soporta el formato de video.
                </video>
            </div>
            <div class="bloque-texto">
                <h2 class="texto-momento">
                    Porque eres especial
                </h2>
            </div>
        </div>

          <div class="contenedor-momento">
            <div class="media-box">
                <video src="../vid/video4.mp4" autoplay loop muted playsinline class="video">
                    Tu navegador no soporta el formato de video.
                </video>
            </div>
            <div class="bloque-texto">
                <h2 class="texto-momento">
                    Porque me haces feliz
                </h2>
            </div>
        </div>

    </main>

    <div class="volver-inicio">
        <a href="../Index.html">← Volver</a>
    </div>

</body>
</html>